.main_container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: 100vh;
  max-height: 100vh;
  padding: 4.2%;
  overflow: scroll;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}

.title {
border: solid 2px;
margin-bottom: 4.2%;
padding: 16px;
}

.form {
}

.addButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}